.navBar {
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
    display:flex;
}

.navLogo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
}

.navLogo img {
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    /* float: right; */
    margin-left: auto;
    margin-right: 0;
}

.navMenu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navMenu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navMenu ul li a:hover {
    background-color: #111;
}

.hamMenu {
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

.hamburger {
    width: 20px;
    height: 5px;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}